<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user.email %></h1>
      <p>
        New review for <%= @neighborhood.name %> has been posted.<br>
      </p>
      <p>
        Please visit <%= link_to @neighborhood.name, neighborhood_path(@neighborhood) %> to leave a review.
      </p>
      <p>Thanks for being awesome and have a great day!</p>
  </body>
</html>
