<h2>Add a New Neighborhood</h2>

<div class="border-form-div">
<%= simple_form_for(@neighborhood) do |f| %>
  <%= f.input :name %>
  <%= f.input :description  %>

  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
</div>
